* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #a6a6a6;
  background-color: #a6a6a6;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #f5772e;
  border: 1px solid #f5772e;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #f5770e;
  border-color: #f5770e;
}